<div class="form">
  <h2 id="registration">Registration Form</h2>

    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"  >
           <!-- First name ,lastname and email combined as ngModelGroup(Group of form controls for validation) -->
    <div ngModelGroup="personDetails" #personalDetail="ngModelGroup" >

      <label for="fname">FirstName</label>
      <input type="text" id="fname" placeholder="your name.." name="firstname" ngModel #fname="ngModel" required>
      <div>
        <small *ngIf="fname.invalid && fname.touched">First Name is required</small>
        <span *ngIf="firstname">You entered {{firstname}}</span>
      </div>
 
  
      <label for="lname">LastName</label>
      <input type="text" id="lname" placeholder="Your lastname.." name="lastname" ngModel #lname="ngModel" required>
      <div><small *ngIf="lname.invalid && lname.touched">Last name is required</small><span *ngIf="lastname">You entered {{lastname}}</span></div>
            
      <label for ="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your last email." name="email" ngModel required > 
  
        <div >
          <small *ngIf="personalDetail.invalid && personalDetail.touched">Some of values are inavlid</small>
        </div>
         <button (click)="setDefaultValues()">setDefaultValues</button>

    </div>
   
    <label for="country">Country</label>
    <select id="country" name="country" [ngModel]="defaultCountry">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
       <option value="usa">USA</option>
       <option value="india">India</option>
       <option value="uk"> Uk</option>
    </select>
   <label for="gender">Gender:</label>
   <span  *ngFor="let gen of gender">
    <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" [ngModel]="defaultGender">
    <label for="male">{{gen.value}}</label>
   </span>
     
     
      <br><br>

      <label>Hobbies <i>(Optional)</i></label>
            <div class="form-inline">
              <label><input tye="checkbox" value="sports" name="hobbies" ngModel>Sports </label>
              <label><input tye="checkbox" value="movies" name="hobbies" ngModel>Movies </label>
              <label><input tye="checkbox" value="music" name="hobbies" ngModel>Music </label>

            </div>

            <!-- submit button will be disabled when form is not valid -->
     <input type="submit" value="Submit" id="btn" [disabled]="!myForm.valid"> 
     </form>
</div>

 <!-- This div is used for displaying the data after clicking on the submit button -->
<div class="form-data">
  <h3>Form Data</h3>
  <p>FirstName :<b>{{firstname }}</b></p>
  <p>LastName :<b>{{lastname }}</b></p>
  <p>Email :<b>{{email }}</b></p>
  <p>Country :<b>{{country }}</b></p>
  <p>Gender :<b>{{gen }}</b></p>
  
</div>

